*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url('../image/header_car.jpg');
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header_card{
    background: transparent;
    height: 80%; 
    color: white;
}

/* way to rent car */

.icon{
    height: 110px;
    width: 110px;
    background: rgb(0, 162, 255);
    border-radius: 50%;
    position: relative;
}
.icon i{
    position: absolute;
    font-size: 51px;
    color: white;
    right: 30px;
    top: 27px;
}
.text_de h4{
    font-size: 17px;
    font-weight: 500;
}
.text_de p{
    color: #959595;
    font-size: 17px;
    margin: 0px 22px;
}

/* all car */

.card_img{
    width: 15rem;
    height: 10rem;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
.car_info h5{
    font-size: large;
}
.car_info p{
    /* font-size: ; */
    color: #959595;
    margin-bottom: 4px;
}
.car_info a{
    width: 100%;
    background-color: #303030;
    color: #e9e9e9;
    border-radius: 0%;
    border: none;
}
.car_info p span{
    color: #1089ff;
}
.car_info a:hover{
    background-color: #e9e9e9 ;
    color: #303030;
}
/* about */

/* car booking form */


.form_border{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid ;
    padding: 5px 59px 26px;
    margin-top: 12px;
    backdrop-filter: blur(10px);
}
.car_booking_form{
    width: 450px;
}

/* login page */
.body_bg{
    background-image: url('../image/login.jpg');
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}
.middle_box{
    margin-top: 17vh;
}
.flex-column{
    margin-bottom: 8px;
}
.flex-column > label {
    color: #ecedec;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
      color: #ecedec;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  ::placeholder {
    color: #ecedec;
    opacity: 1; /* Firefox */
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: white;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 0px 0px 9px #2d79f3;
  }
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #000000a6;
    border: none;
    color: #ecedec;
    font-size: 15px;
    font-weight: 500;
    font-size: larger   ;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    text-shadow: 0px 0px 9px whitesmoke;
  }
  .button-submit:hover{
    background-color: #ecedec;
    color: #000000a6;
  }
  .p {
    text-align: center;
    color: #ecedec;
    font-size: 14px;
    margin: 5px 0;
  }
/* meadia query */
@media screen and (max-width: 1204px) {
    .car_card{
        margin-left:60px;
    }
}
@media screen and (max-width: 994px) {
    .car_card{
        margin-left:0px;
        margin-right: 180px;
    }
}
@media screen and (max-width: 770px) {
    .car_card{
        margin-right: 0px;
        margin-left:12%;
    }
}
@media screen and (max-width: 568px) {
    .form_border{
        padding: 5px 7px 26px;
    }
}
@media screen and (max-width: 464px) {
    .car_booking_form{
        width: 280px;
    }
}